/* ####################### CAROUSEL ############################### */
@keyframes scroll {
	0% { transform: translateX(0%); }

	100% { transform: translateX(calc(-250px * 9))}
}


#gradient01{
    width: 1920px;
    height: 260px;
}

/* // Styling */

.slide img{
    height: 240px;
    width: 240px;
}
.slider {
	background: transparent;
    color: transparent;
    background-color: transparent;
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
	height: 250px;
	margin: auto;
	overflow:hidden;
	position: absolute;
    /* height: 400px; */
	width: 1920px;
    /* margin-left: 345px;  */
    margin-top: 10px;
}

/* .slide-track{ 
    background: red;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
 } */


.slider::before,
.slider::after {
    @include white-gradient;
    content: "";
    height: 240px;
    position: absolute;
    width: 240px;
    z-index: 2;
}
	
.silder::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.silder::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 16);
}

.slide {
    height: 240px;
    width: 240px;
    margin-left: 5px;
}


/* #gradientBar_home_img{
    width:1900px;
    height: 175px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
} */

body{
    background-color:azure;
}

