/* div{
    position: relative; 
    left: 0; 
    top: 0;
} */

/* #Reviews{
    height: 800px;
    width: 1900px;
    background-color:darkgray;
} */

.image-container {
    display: flex;
    justify-content: center;
  }

  #cibeles{
    /* width:fit-content; */
    width: 1920px;
    height: 800px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    filter: brightness(60%);
    position: relative; 
    /* left: 0; 
    top: 0; */
}

#googleRev{
    position:absolute;
    width: 1920px;
    height: 800px;
}